@import "../../mixins.scss";

.chooseWork {
  background-color: rgb(8 8 8 / 69%);
  min-height: 80vh;
  color: var(--black-light);
  position: relative;
  padding: 35px 10px;

  h1 {
    text-align: center;
    padding: 40px 0px;
    color: white;
    font-size: 50px;
    svg {
      color: var(--orange);
    }
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @include md {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .checkBox {
      display: flex;
      align-items: center;
      input {
        width: 20px;
        height: 20px;
      }
      label {
        font-size: 22px;
        color: #777;
        margin-left: 10px;
      }
    }

  }
  .progress {
    position: relative;
    .void {
      background-color: white;
      width: 100%;
      height: 20px;
      border-radius: 20px;
      margin: 25px auto;
    }
    .busy {
      background-color: var(--orange);
      height: 20px;
      border-radius: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.5s;
    }
  }
  button {
    background-color: var(--orange);
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: orange;
    }
  }
  .hide {
    pointer-events: none;
    opacity: 0.5;
  }
  p {
    color: white;
    text-align: center;
    font-size: 29px;
  }
  a {
    background-color: var(--orange);
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    &:hover {
      background-color: white;
      color: orange;
    }
  }
  .icon {
    svg {
      font-size: 29px;
      color: white;
      display: block;
      width: fit-content;
      margin: 38px auto;
    }
  }
}
